if theme.duoshuo
  .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink, data-author-key='1')

if theme.disqus
  #disqus_thread
    script.
      var disqus_shortname = '#{theme.disqus}';
      var disqus_identifier = '#{page.path}';
      var disqus_title = '#{page.title}';
      var disqus_url = '#{config.url}/#{page.path}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    script(id='dsq-count-scr', src='//#{theme.disqus}.disqus.com/count.js', async)

if theme.gitment
    #container
    link(rel='stylesheet', href='https://imsun.github.io/gitment/style/default.css')
    script(src='https://imsun.github.io/gitment/dist/gitment.browser.js')
    script.
      var gitment = new Gitment({
        owner: 'InvalidCode',
        repo: 'invalidcode.github.io',
        oauth: {
          client_id: '13bd3842cc8bca65266a',
          client_secret: '3195356b376b098891ef48dc0f268040afe65797',
        },
      })
      gitment.render('container')
